a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

nav {
  padding: 0;
}

.hero {
  background-image: url("https://static.vecteezy.com/ti/gratis-foton/p2/12168187-skon-solnedgang-pa-de-strand-med-handflatan-trad-for-resa-och-semester-gratis-fotona.JPG"); /* Lägg till sökvägen till din bild */
  background-size: cover; /* Säkerställer att bilden täcker hela bakgrunden */
  background-position: center; /* Centrerar bilden */
  height: 600px; /* Justera höjden efter behov */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Färgen på texten */
  text-align: center;
}

li {
  list-style: none;
  margin-right: 20px;
}

ul a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

ul a:hover {
  color: rgb(196, 91, 0);
}

.logo a {
  font-size: 30px;
  text-decoration: none;
  color: rgb(196, 91, 0);
}
.hero_txt {
  background-color: rgb(4, 4, 4);
  color: rgb(248, 217, 62);
}
